body {
	margin: 0;
	padding: 0;
	background-color: #012943;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #454545;
}
img
{
	display: block;
}
p{margin-top: 0; margin-bottom: 0;}
.title {
	margin: 0px;
	padding: 0px 30px 0px 30px;
	letter-spacing: -1px;
	font-size: 2em;
	font-weight: normal;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.breadcum{
	font-family: Verdana, Geneva, sans-serif;
	margin-left:30px;
	font-size: 9px;
	color: #666;
	text-transform: lowercase;
	}
.contentTitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
}
.contentEquation {
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
}
.contentTitleSmall {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
}
.content {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	text-align: justify;
	padding-right: 10px;
	padding-left: 10px;
	list-style-position: inside;
	list-style-type: circle;
}
.copyright {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	text-align:center;
	color:#FFF;
}
#toplink {
    position: fixed;
    bottom: 10px;
    right: 10px;
    line-height: 30px;
    height: 30px;
    color: white;
    background: black;
}
#sddm
{	margin: 0;
	padding: 0;
	
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width:400px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #49A3FF}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: 398px;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: #2875DE;
		font: 11px arial}

	#sddm div a:hover
	{	background: #49A3FF;
		color: #FFF}
		

.block{
	width: 80%;
	height: auto;
	margin-left: auto;
    margin-right: auto;
	font-size: 16px;
	font-family: Verdana, "Times New Roman", Times, serif;
}

.row{
	width: auto;
	height: auto;
	float: left;
	font-size:24px;
}

.row .download{
	width: auto;
	height: auto;
	padding: 10px;
	font-size: 24px;
	float: left;
	margin: 0;
}

.row .dlink{
	width: auto;
	height: auto;
	padding-left: 0;
	padding-right: 0;
	padding-top: 5px;
	margin: 0;
	float: right;	
}